@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border-left-color: #1f2937;
    animation: spin 1s infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  